html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

a { 
    
}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

#top_chunk {
    width: 80%;
    margin: 0 auto;
    /* text-align: center; */
}

.header-image {
    /* width: 50%; */
    width: 330px;
    height: 330px;
    background-size: 330px 330px;
    border-radius: 300px;
    background-image: url("./assets/header_img.jpg");
    display: inline-block;
}

#top_chunk #header-text {
    /* height: 100%;
     */
    height: 200px;
    
    display: inline-block;
    /* width: 50%; */
    text-align: center;

}

#guide-title {
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.v-align-container {
    display: table-cell;
    vertical-align: middle;
}


/* #top_chunk_photo {
    width: 50%;
    margin: 0 auto;

} */

#fire_chunk {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

#fire_chunk img {
    width: 150px;
    height: 150px;

}

#truck_chunk{
    width: 20%;
    margin: 0 auto;
    text-align: center;

}

#truck_chunk img {
    width: 150px;
    height: 150px;
}

nav {
    margin: 0 auto;
    width: 50%;
}

#ps {
    background-color: #dcb9a4;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    color: white;
    padding: 20px;
}



#one {
    background-color: #FF764E;
}

#two {
    background-color:#5ED3EB;
}

#three {
    background-color: #FFCD69;
}

#four {
    background-color: #FF764E;
}

#five {
    background-color:#5ED3EB;
}

#six {
    background-color: #FFCD69;
}

h1 {
    font-size: 30px;
  }

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-image{
    background-image: url("./assets/footer_img.jpg");
    background-size: 1400px 300px;
    width: 1400px;
    height: 300px;
    background-repeat: no-repeat;
}

.nav-button {
    height: 50px;
    width: 15%;
    margin: 0 5%;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

footer {
    background-color: #F9E7DC;
}